.hubby_success
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#E7FFCC;
	color:#333;
}
.hubby_notice
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#6CB6FF;
	color:#333;
}
.hubby_warning
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#FFD5D5;
}
.hubby_error
{
	padding:1%;
	width:98%;
	display:inline-block;
	background:#FF5B5B;
	color:#FFF;
}
.style_1 label
{
	line-height:20px;
	display:block;
}
.style_1 textarea
{
	min-height:200px;
	padding:1%;
	width:98%;
}
.paragraph
{
	line-height:15px;
	border:dashed 1px #999;
	background:#EEE;
	padding:1%;
	color:#666;
}